grails:
    profile: web
    codegen:
        defaultPackage: interntrack
    gorm:
        reactor:
            events: false

    plugin:
        springsecurity:
            password:
                algorithm: 'bcrypt'
                bcrypt:
                    logrounds: 12

            userLookup:
                userDomainClassName: 'interntrack.User'
                authorityJoinClassName: 'interntrack.UserRole'
                authorityClassName: 'interntrack.Role'

            securityConfigType: "Requestmap"
            requestMap:
                className: 'interntrack.Requestmap'
                urlField: 'url'
                configAttributeField: 'configAttribute'

            auth:
                loginFormUrl: '/login/auth'
#
#            successHandler:
#                defaultTargetUrl: '/login/success'
#                alwaysUseDefaultTargetUrl: true
#            successHandler:
#              defaultTargetUrl: '/dashboard/index'
#              alwaysUseDefaultTargetUrl: true
#              targetUrlParameter: 'spring-security-redirect'
#            successHandler:
#                defaultTargetUrl: '/dashboard/index'
            successHandler:
                defaultTargetUrl: '/login/success'
                alwaysUseDefaultTargetUrl: true

            failureHandler:
                defaultFailureUrl: '/login/auth?error'

            logout:
                postOnly: false
                afterLogoutUrl: '/login/auth'
                invalidateHttpSession: true
                clearAuthentication: true

            csrf:
                enabled: false

server:
    port: 8070

dataSource:
    pooled: true
    jmxExport: true
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
    dialect: org.hibernate.dialect.SQLServer2012Dialect
    dbCreate: update
    properties:
        jmxEnabled: true
        initialSize: 5
        maxActive: 50
        minIdle: 5
        maxIdle: 25
        maxWait: 10000

environments:
    development:
        dataSource:
            url: jdbc:sqlserver://localhost:1433;databaseName=InternTrackDB;encrypt=false
            username: sa
            password: 123
            dbCreate: update
    test:
        dataSource:
            dbCreate: update
            url: jdbc:h2:mem:testDb
    production:
        dataSource:
            dbCreate: none
            url: jdbc:h2:./prodDb

hibernate:
    cache:
        use_second_level_cache: false
        use_query_cache: false